/* ==================== Estilos del formulario ==================== */

/* Contenedor del formulario */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 70vh;
    background-color: #f2f2f2;
  }
  
  /* Estilo del formulario */
  .formulario {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .formulario h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;  /* Color de texto uniforme */
  }
  
  /* Estilo de los campos de entrada */
  .formulario input,
  .formulario textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;  /* Color de texto uniforme */
  }
  
  /* Estilo del botón de envío */
  .formulario button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0f110d;
    color: rgb(230, 207, 62);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Efecto hover en el botón */
  .formulario button:hover {
    background-color: #0056b3;
  }